---
import BlogItem from "../BlogItem.astro";
import Section from "../Section.astro";
const { writingText } = Astro.props;

const allPosts = await Astro.glob("@/pages/blogs/*.md");
allPosts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate),
);
const recentPosts = allPosts.slice(0, 5);
---

<Section styles="p-1" ids="blog">
  <div
    class="flex flex-col md:flex-row basis-0 gap-1 md:justify-between md:gap-[5rem] items-center w-full min-h-[85vh]"
    '
  >
    <div class="box introduction w-[100%] md:w-[60%] p-5">
      <div class="box-text">
        <h3
          class="leading-[4rem] md:leading-[8rem] font-bold text-[4rem] md:text-[6rem]"
        >
          Writing
        </h3>
        <p
          class="intro-bio mt-5 md:mt-8 mb-10 leading-6 md:leading-7 md:text-2xl text-slate-700 text-justify"
        >
          {writingText}
        </p>
      </div>
      <a
        class="flex items-center text-slate-700 hover:text-black gap-4 group mt-5 ml-1 text-xl duration-75 transition-all"
        href="/blog"
        >View All Posts <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 hidden group-hover:block transition-all duration-0"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
        </svg></a
      >
    </div>
    <div
      class="info-box w-[100%] md:w-[30%] md:mr-5 justify-start flex flex-col gap-5"
    >
      <h3 class="heading text-slate-600 uppercase font-semibold ml-4">
        Recent Blogs
      </h3>
      <div class="flex flex-col p-1">
        {recentPosts.map((post) => <BlogItem post={post} />)}
      </div>
    </div>
  </div>
</Section>
