---
import ContactBoxItem from '../ContactBoxItem.astro';
import Section from '../Section.astro';
const { contactText, contactOptions } = Astro.props;
---

<Section styles='p-1' ids='contact'>
  <div
    class='flex flex-col md:flex-row basis-0 gap-1 md:justify-between md:gap-[5rem] items-center w-full min-h-[85vh]'
  >
    <div class='box introduction w-[100%] md:w-[60%] p-5'>
      <div class='box-text'>
        <h3
          class='leading-[4rem] md:leading-[8rem] font-bold text-[4rem] md:text-[6rem]'
        >
          Let's Connect
        </h3>
        <p
          class='intro-bio mt-5 md:mt-8 mb-5 leading-6 md:leading-7 md:text-2xl text-slate-700 text-justify'
        >
          {contactText}
        </p>
      </div>
    </div>
    <div
      class='info-box w-[100%] md:w-[30%] md:mr-5 justify-start flex flex-col gap-5'
    >
      <h3 class='heading text-slate-600 uppercase font-semibold ml-4'>
        Contact Me
      </h3>
      <div class='flex flex-col p-1'>
        {contactOptions.map((contact) => <ContactBoxItem contact={contact} />)}
      </div>
    </div>
  </div>
</Section>
