---
import Navbar from '../Navbar';
import Section from '../Section.astro';
import SelectedProjectBox from '../SelectedProjectBox.astro';
const { navLinks, name, bio, selectedProjects } = Astro.props;
const firstName = name.split(' ')[0];
---

<Section styles="p-1">
  <Navbar navLinks={navLinks} client:load />
  <div
    class="mt-[3rem] md:mt-3 flex flex-col md:flex-row basis-0 gap-1 md:justify-between md:gap-[5rem] items-center w-full min-h-[80vh] md:min-h-[85vh]"
  >
    <div class="introduction w-[100%] md:w-[60%] p-5">
      <div class="intro-text-box">
        <h2
          class="intro-text leading-[5rem] md:leading-[8rem] font-bold text-[4rem] md:text-[5rem] lg:text-[6rem] xl:text-[7rem]"
        >
          Hey, I'm {firstName}.
        </h2>
      </div>
      <p
        class="intro-bio mt-5 md:mt-8 mb-5 leading-6 md:leading-7 md:text-2xl text-slate-700 text-justify"
      >
        {bio}
      </p>
    </div>
    <div class="projects w-[100%] md:w-[30%] md:mr-5 justify-start flex flex-col gap-5">
      <h3 class="heading text-slate-600 uppercase font-semibold ml-4">Selected Projects</h3>
      <SelectedProjectBox projects={selectedProjects} />
    </div>
  </div></Section
>
