---
import Section from "@/components/Section.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { navLinks } from "@/data";
import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer.astro";
import BlogItem from "@/components/BlogItem.astro";
const allPosts = await Astro.glob("./blogs/*.md");
allPosts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate),
);
---

<MainLayout title="Blog" description="Blog page">
  <Section styles="min-h-[70vh]">
    <Navbar navLinks={navLinks} client:load />
    <div class="my-5 md:p-10">
      <h2 class="text-3xl font-bold text-center my-5">Blogs</h2>
      <div class="grid grid-cols-1 gap-2 md:grid-cols-3 md:gap-5">
        {allPosts.map((post) => <BlogItem post={post} />)}
      </div>
    </div>
  </Section>
  <Footer navLinks={navLinks} />
</MainLayout>
