---
const { post } = Astro.props;
---

<a
  href={post.url}
  class='group cursor-pointer flex flex-col w-full p-5 transition duration-300 text-slate-500 group hover:text-black border-b-2 hover:border-black'
>
  <div>
    <div class='flex items-center w-full gap-2'>
      <span class='font-bold'>{post.frontmatter.title} </span>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='size-4 hidden group-hover:block transition duration-0'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25'></path>
      </svg>
    </div>
  </div>
  <p class='mt-2'>
    {
      post.frontmatter.description
        ? post.frontmatter.description.length > 50
          ? post.frontmatter.description.substr(0, 50) + '...'
          : post.frontmatter.description
        : ''
    }
  </p>
  <span
    class='mt-2 font-light text-[12px] text-slate-500 group-hover:text-black'
    >{post.frontmatter.pubDate}</span
  >
</a>
