---
import { name, showDeveloperText, contactOptions } from '@/data';
import type { NavLink } from '@/data';

interface Props {
  navLinks: NavLink[];
}

const { navLinks } = Astro.props;
const firstname = name.split(' ')[0];
---

<footer class="bg-gray-50 mt-10">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="flex items-center mt-5 justify-between">
      <ul
        class="flex w-full flex-wrap text-sm md:text-lg justify-center items-center mb-6 font-medium"
      >
        {
          navLinks.map((link) => (
            <li>
              <a class="hover:underline me-4 md:me-6" href={`${link.href}`}>
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <span class="block text-center text-sm text-gray-700 sm:text-center"
      >© {new Date().getFullYear()}
      <span class="hover:underline">Wriddhi Hazra,</span>
      {
        showDeveloperText && (
          <span>
            maintained by{' '}
            <a class="text-blue-900" href={contactOptions.Github} target="_blank">
              {firstname}
            </a>
          </span>
        )
      }
    </span>
  </div>
</footer>
