---
import SelectedProjectItem from './SelectedProjectItem.astro';

const { projects = {} } = Astro.props;
---

<div class='flex flex-col p-1'>
  {projects.map((project) => <SelectedProjectItem project={project} />)}
</div>
