---
const { project } = Astro.props;
---

<a
  href={project.link}
  class='group cursor-pointer flex w-full p-5 items-center justify-between transition duration-300 text-slate-500 hover:text-black border-b-2 hover:border-black hover:font-semibold'
>
  <p>{project.name}</p>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    fill='none'
    viewBox='0 0 24 24'
    stroke-width='1.5'
    stroke='currentColor'
    class='size-6 hidden group-hover:block transition duration-0'
  >
    <path
      stroke-linecap='round'
      stroke-linejoin='round'
      d='M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3'></path>
  </svg>
</a>
