---
import SkillItem from './SkillItem.astro';

const { skills = [] } = Astro.props;
---

<div class='w-full md:w-[80%] flex gap-3 mt-2 mb-2 flex-wrap'>
  {skills.map((skill) => <SkillItem skill={skill} />)}
</div>
