---
import WorkExperienceItem from './WorkExperienceItem.astro';

const { workExperiences = {} } = Astro.props;
---

<div class='flex flex-col p-1'>
  {
    workExperiences.map((workExperience) => (
      <WorkExperienceItem workExperience={workExperience} />
    ))
  }
</div>
