---
const { workExperience } = Astro.props;
---

<div
  class='group cursor-pointer flex flex-col w-full p-5 transition duration-300 text-slate-500 group hover:text-black border-b-2 hover:border-black'
>
  <div class='flex justify-between items-center'>
    <div class='flex flex-col gap-1'>
      <span class='font-bold'>{workExperience.organisationName} </span>
      <span class='font-light text-xs text-slate-600'
        >{workExperience.position}</span
      >
    </div>
    <span class='font-light text-sm text-slate-600 group-hover:text-black'
      >{workExperience.date}</span
    >
  </div>
  <ul class='mt-1 p-2 ml-3 list-disc'>
    {workExperience.info.map((info) => <li>{info}</li>)}
  </ul>
</div>
